* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

h1, h2, h3, h4, p, li {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #494745;
}

ul {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

span {
    color: #10528F;
    font-weight: 700;
}

@media (max-width:920px) {
    .mobile-display-none {
        display: none;
    }
}



/* Coming Soon */

.coming-soon {
    width: 100vw;
    height: 100vh;
    background-color: #386D9D;
}

.coming-soon .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}   

.coming-soon p {
    text-align: center;
    color: #10528F; 
    font-style: italic;
}

.coming-soon img {
    width: 50vw;
}

@media (max-width: 920px) {
    .coming-soon img {
        width: 90vw;
    }
}


/* Navigation Bar */
#navbar {
    top: 0;
    width: 100vw;
    
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 10px 5px #00000009;

}

#navbar .container ul{
    padding: 20px;
    background-color: #386D9D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .container li {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
}

#navbar .container ul li{
    color: #FFF;
}


#navbar .container img {
    width: 250px;
}

#navbar .bar ul {
    background-color: rgb(246, 247, 248);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .bar li {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    padding: 0px 5%;
}

#coming-soon {
    color: #ffffff;
    font-style: italic;
    font-weight: 900;
}


@media (max-width: 920px) {
    #navbar .container ul{
        padding: 40px;
        display: block;
        text-align: center;
    }
    #navbar .container li {
        padding: 5px;
    }
}

/*Hero*/


#hero {
    margin-top: 90px;
    height: 80vh;
    position: relative;
}

#hero img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

#hero .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2a9;

}

#hero .overlay .text {
    width: 35vw;
    text-align: left;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero .overlay .text h1 {
    font-size: 3em;
    font-weight: 900;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

#hero .overlay .text span {
    font-style: italic;
}

@media (max-width: 920px) {
    #hero {
        margin-top: 120px;
        height: 80vh;
        position: relative;
    }

    #hero .overlay .text {
        width: 80vw;
    }
}

/*Subhero*/

#subhero {
    height: 80vh;
    position: relative;
}

#subhero img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

#subhero .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2a9;

}

#subhero .overlay .text {
    width: 35vw;
    text-align: left;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subhero .overlay .text h1 {
    font-size: 3em;
    font-weight: 900;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

#subhero .overlay .text span {
    font-style: italic;
}

@media (max-width: 920px) {
    #subhero {
        height: 80vh;
        position: relative;
    }

    #subhero .overlay .text {
        width: 80vw;
    }
}

/*Boxes*/

#boxes {
    display: flex;
    margin: 0px 10px;
    justify-content: space-around;
}

#boxes .container {
    width: 50%;
    margin: 20px 10px;
    position: relative;
}

#boxes .container img {
    width: 100%;
    height: 100%;
}

#boxes .container .overlay {
    position: absolute;
    top: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: #18413449;
    transition: .3s;
}

#boxes .container .overlay .text {
    margin: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#boxes .container .overlay .text h2, #boxes .container .overlay .text p {
    color: white;
}

#boxes .container .overlay:hover {
    background-color: #1841347a;
}

#text {
    background-color: rgb(235, 238, 241);
    padding: 20px;
}

#text .container {
    text-align: center;
    padding: 20px;
}

@media (max-width: 920px) {
    #boxes {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 10px;
        justify-content: space-around;
        height: 100%;
    }
    
    #boxes .container {
        width: 100%;
        height: 50vh;
        margin: 20px 10px;
        position: relative;
        object-fit: cover;
    }
    #boxes .container .overlay {
        height: 50vh;
    }

    #boxes .container img {
        width: 100%;
        height: 100%;
    }
}

/*Footer*/

#footer {
    bottom: 0;
    width: 100vw;
}

#footer .container {
    background-color:  rgb(235, 238, 241);
    display: flex;
    justify-content: center;
}

#footer .container ul {
    padding: 20px;
}

#footer .bar {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    background-color: rgb(210, 217, 224);
}

#footer .bar p {
    color: rgb(154, 170, 187);
}

#reach-out {

}